<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="google-site-verification" content="bcDylqNtPO-Nd9SQ73Wwc_e6dUnHvh8-7owJZSVQFGM" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#000000">
    <meta name="description" content="<%= ogDescription %>"/>
    <meta name="keywords" content="<%= keywords %>">
    <meta name="msvalidate.01" content="3E4F0031E16637E1213AF80BD2533FAD" />
    <%#
      manifest.json provides metadata used when your web app is added to the
      homescreen on Android. See https://developers.google.com/web/fundamentals/engage-and-retain/web-app-manifest/
    #%>
    <link rel="manifest" href="/manifest.json">
    <link rel="shortcut icon" href="/favicon.ico">
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.11';
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));</script>
    <script type="text/javascript" src="//platform-api.sharethis.com/js/sharethis.js#property=5a63dd98c00bd90012a4d9e3&product=inline-share-buttons"></script>
    <meta property="og:image" content="<%= ogImage %>"/>
    <meta property="og:image:width" content="600"/>
    <meta property="og:image:height" content="351"/>
    <meta name="og:description" content="<%= ogDescription %>"/>
    <title><%= title %></title>
    <% styles.forEach(function (style) { %>
    <link href="<%= style %>" rel="stylesheet"/>
    <% }) %>
</head>
<body>
<noscript>
    You need to enable JavaScript to run this app.
</noscript>
<div id="root"><%- content %></div>
<script async src="https://www.googletagmanager.com/gtag/js"></script>
<script>window.__INITIAL_STATE__=<%- JSON.stringify(store) %></script>
<% scripts.forEach(function (script) { %>
<script src="<%= script %>"></script>
<% }) %>
</body>
</html>
